<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Responsive Bootstrap Multi-Purpose Landing Page Template">
<meta name="keywords" content="LandX, Bootstrap, Landing page, Template, Registration, Landing">
<meta name="author" content="Mizanur Rahman">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS   
============================== -->
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- FONT ICONS -->
<!-- IonIcons -->
<link rel="stylesheet" href="assets/ionicons/css/ionicons.css">

<!-- Font Awesome 
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
-->

<!-- Elegant Icons -->
<link rel="stylesheet" href="assets/elegant-icons/style.css">
<!--[if lte IE 7]><script src="assets/elegant-icons/lte-ie7.js"></script><![endif]-->



<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">
<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/cs-skin-elastic.css" />

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="css/colors/orange.css"> -->
<!-- <link rel="stylesheet" href="css/colors/blue-munsell.css"> -->
<!-- <link rel="stylesheet" href="css/colors/slate.css"> -->
<!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">

<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->

<!-- ****************
      After neccessary customization/modification, Please minify HTML/CSS according to http://browserdiet.com/en/ for better performance
     **************** -->
     
</head>

<body>
<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay">
  
  <div class="navigation-header">
    
    <!-- STICKY NAVIGATION -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
      <div class="container">
        <div class="navbar-header">
          
          <!-- LOGO ON STICKY NAV BAR -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo-dark.png" alt=""></a>
          
        </div>
        
        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="landx-navigation">
          <ul class="nav navbar-nav navbar-right main-navigation">
            <li><a href="#home">Home</a></li>
            <li><a href="#section1">Overseas Call</a></li>
            <li><a href="#section3">About</a></li>
          </ul>
        </div>
        
      </div>
      <!-- /END CONTAINER -->
      
    </div>
    
    <!-- /END STICKY NAVIGATION -->
    
    <!-- ONLY LOGO ON HEADER -->
    <div class="navbar non-sticky">
      
      <div class="container">
        
        <div class="navbar-header">
          <img src="images/logo.png" alt="">
        </div>
        
        <ul class="nav navbar-nav navbar-right social-navigation hidden-xs">
          <li><a href="#"><i class="social_facebook_circle"></i></a></li>
          <li><a href="#"><i class="social_twitter_circle"></i></a></li>
          <li><a href="#"><i class="social_linkedin_circle"></i></a></li>
        </ul>
      </div>
      <!-- /END CONTAINER -->
      
    </div>
    <!-- /END ONLY LOGO ON HEADER -->
    
  </div>
  
  <!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
  <div class="container">
    
    <div class="row">
      
      <!-- LEFT - HEADING AND TEXTS -->
      <div class="col-md-7 col-sm-7 intro-section">
        
        <h1 class="intro text-left">
        <strong>Welcome to the Country Code App!</strong>  <strong></strong> <strong></strong>
        </h1>
        
        <ul class="feature-list-1">
          
          <!-- FEATURE ROW -->
          <li>
          <div class="icon-container pull-left">
            <span class="icon_check"></span>
          </div>
          <p class="text-left">
            Have you ever needed to know what time it was in another country? This is the best way to find out the time and country code for any country in the world.
          </p>
          </li>
          
          <!-- FEATURE ROW -->
          <li>
          <div class="icon-container pull-left">
            <span class="icon_check"></span>
          </div>
          <p class="text-left">
            Maybe you're not sure if it's an appropriate time to call your friend in another timezone. Stop the awkward 3am calls to Japan.
          </p>
          </li>
          
          <!-- FEATURE ROW -->
          <li>
          <div class="icon-container pull-left">
            <span class="icon_check"></span>
          </div>
          <p class="text-left">
            How about the time your boss told you to schedule a meeting with a client in london and you scheduled it for the wrong time and got fired
          </p>
          </li>
        </ul>
        
      </div>
      
      <!-- RIGHT - REGISTRATION FORM -->
      
      <div class="col-md-5 col-sm-5">
        
        <div class="vertical-registration-form">
          <div class="colored-line">
          </div>
          <h3>Try it out for yourself</h3>

          <!-- Hey Ivan, this section down here creates the "select all countries" field --> 

          <% all_contries = Country.all %>
          <%= select_tag :countries, options_from_collection_for_select(all_contries, "id", "name"), include_blank: 'Select a Country', class: 'cs-select cs-skin-elastic' %>

<!--         <section>
          <select class="cs-select cs-skin-elastic">
            <option value="" disabled selected>Select a Country</option>
            <option value="france" data-class="flag-france">France</option>
            <option value="brazil" data-class="flag-brazil">Brazil</option>
            <option value="argentina" data-class="flag-argentina">Argentina</option>
            <option value="south-africa" data-class="flag-safrica">South Africa</option>
          </select>
        </section> -->

<!--           <form class="registration-form" id="register" role="form">
            <input class="form-control input-box" id="name" type="text" name="name" placeholder="Pick a country">
            <input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
            <input class="form-control input-box" id="phone-number" type="text" name="phone-number" placeholder="Enter the phone number">
            <button class="btn standard-button" type="submit" id="submit" name="submit">See if it's a good time to call</button>
          </form> -->
        </div>
      </div>
      <!-- /END - REGISTRATION FORM -->
    </div>
    
  </div>
  <!-- /END HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
  
</div>

</header>


<!-- =========================
     SECTION 9 - CONTACT US  
============================== -->
<section class="contact-us" id="section9">
<div class="container">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <h3 class="heading">Need any help? Contact us now!</h3>
      
      <a href="" class="contact-link expand-form"><span class="icon_mail_alt"></span>We will get back to you</a>
      
      <!-- EXPANDED CONTACT FORM -->
      <div class="expanded-contact-form">
        
        <!-- FORM -->
        <form class="contact-form" id="contact" role="form">
          
          <!-- IF MAIL SENT SUCCESSFULLY -->
          <h6 class="success">
          <span class="olored-text icon_check"></span> Your message has been sent successfully. </h6>
          
          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <h6 class="error">
          <span class="colored-text icon_error-circle_alt"></span> E-mail must be valid and message must be longer than 1 character. </h6>
          
          <div class="field-wrapper col-md-6">
            <input class="form-control input-box" id="cf-name" type="text" name="cf-name" placeholder="Your Name">
          </div>
          
          <div class="field-wrapper col-md-6">
            <input class="form-control input-box" id="cf-email" type="email" name="cf-email" placeholder="Email">
          </div>
          
          <div class="field-wrapper col-md-12">
            <input class="form-control input-box" id="cf-subject" type="text" name="cf-subject" placeholder="Subject">
          </div>
          
          <div class="field-wrapper col-md-12">
            <textarea class="form-control textarea-box" id="cf-message" rows="7" name="cf-message" placeholder="Your Message"></textarea>
          </div>
          
          <button class="btn standard-button" type="submit" id="cf-submit" name="submit" data-style="expand-left">Send Message</button>
        </form>
        <!-- /END FORM -->
      </div>
      
    </div>
  </div>
  
</div>

</section>
<!-- =========================
     SECTION 10 - FOOTER 
============================== -->
<footer class="bgcolor-2">
<div class="container">
  
  <div class="footer-logo">
    <img src="images/logo-dark.png" alt="">
  </div>
  
  <div class="copyright">
     ©2015 The Country Code App.
  </div>
  
  <ul class="social-icons">
    <li><a href=""><span class="social_facebook_square"></span></a></li>
    <li><a href=""><span class="social_twitter_square"></span></a></li>
    <li><a href=""><span class="social_pinterest_square"></span></a></li>
    <li><a href=""><span class="social_googleplus_square"></span></a></li>
    <li><a href=""><span class="social_instagram_square"></span></a></li>
    <li><a href=""><span class="social_linkedin_square"></span></a></li>
  </ul>
  
</div>
</footer>


<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.min.js"></script>

<script>
/* =================================
   LOADER                     
=================================== */
// makes sure the whole site is loaded
jQuery(window).load(function() {
  "use strict";
        // will first fade out the loading animation
  jQuery(".status").fadeOut();
        // will fade out the whole DIV that covers the website.
  jQuery(".preloader").delay(1000).fadeOut("slow");
})

</script>

<script src="js/bootstrap.min.js"></script>
<script src="js/retina-1.1.0.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/custom.js"></script>
<!-- ****************
      After neccessary customization/modification, Please minify JavaScript/jQuery according to http://browserdiet.com/en/ for better performance
     **************** -->
</body>
</html>
